.contacts-card {
    position: relative;
    background: #d7e8fd;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    background-image: $stajl-bg;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    p {
        margin: 0;
        &:not(.email) {
            text-transform: capitalize;
        }
    }
    img {
        
        border: 2px solid aliceblue;
        border-width: 0 2px 0 0;
    }

    &__wrapper {
        padding: 12px;
    }
    &__info {
        width: 100%;
        margin: 16px;
    }

    &__details{
        position: absolute;
        right: 0;
        top: 0;
        padding: 24px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: rgba(74, 149, 255, 0.06);
        line-height: 50px;
        text-align: center;
        margin: 12px 12px 0;
        font-weight: bolder;

        &:hover{
            background-color: rgba(255, 255, 255, 0.34);
        }
    }
}

@media (max-width: 479px) {
    .contacts-card {
        word-break: break-all;
        flex-wrap: wrap;
        img {
            max-height: 70px;
            border-bottom-right-radius: 12px;
            box-shadow: 0 5px 2px rgba(0,0,0,.2);
        }
    }
}

@media (min-width: 480px) {
    .contacts-card {
        min-height: 128px;
        max-height: 128px;
        &__wrapper {
            >ul {
                display: flex;
                li {
                    margin: 0 8px;
                }
            }
        }
    }
}