.connecting {
  height: 0;
  opacity: 1;
  transition: height 0.25s, opacity 0.25s;
  display: block;

  &--animate {
    opacity: 1;
    height: 20px;
    width: 180px;
    overflow: hidden;
    margin: 8px auto;
    animation: pulse 0.5s infinite alternate ease-in-out;
   }
}

@keyframes pulse {
  0%{
    background-color:rgba(255,255,255,0.1);
  }
  58%{
    background-color:rgba(255,180,200,0.8);
  }
  88%{
    background-color:rgba(255,180,240,0.9);
  }
  100%{
    background-color:rgba(255,255,255,1);
  }
}