.contact {
    &__details {
        text-transform: capitalize;
        background: #d7e8fd;
        background-image: $stajl-bg;
        border-radius: 12px;
        padding: 12px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-wrap: wrap;
        img {
            min-width: 128px;
            width: 128px;
            height: 128px;
        }
        ul {
            list-style: none;
            padding: 0;
        }

        > div:not(:first-of-type){
            padding-right: 28px;
        }
    }

    &__name {
        padding:12px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: calc(100% -  256px);
    }
    
}