.searchbar {
    &__container {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    &__panel {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 12px;
        margin: auto;
        max-width: 680px;
    }
    &__block {
        min-width: 320px;
        background: rgba(214, 129, 176, 0.89);

        input {
            padding: 8px 12px;
            margin: 0 12px;
            border: none;
            background-color: rgba(255, 255, 255, 0.4);
            color: black;
            font-weight: bolder;
            border-radius: 20px;
        }
    }

    &__abc {
        position: relative;
        background: none;
        border: none;
        margin: 0;
        padding: 8px;
        font-weight: bolder;
        background-color: rgba(255, 255, 255, 0.4);

        &:hover{
            cursor: pointer;
        }

        &:after{
            top: calc(50% - 4px);
            content:'\25B2';
            width: 8px;
            height: 8px;
        }

        &--reverse:after{
            content:'\25BC';
        }
    }
}