html {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  line-height: 1.46;
  color: rgb(78, 78, 90);
  font-size: 87.5%;

  * {
    box-sizing: border-box;
  }
}

body {
  background-color: white;
  overflow-y: scroll;
  background: radial-gradient(circle at 10% 10%,#a087af 0,#a8b3cc 40%) fixed;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: #e47ae3;
  }
  &:hover {
    color: #f555a5;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

main {
  max-width: 680px;
  min-width: 270px;
  margin: auto;
  padding-bottom: 100px;
  position: relative;

  h1:first-of-type {
  background: rgba(255,255,255,0.2);
  padding: 0 12px;
  }
}